<form id="add_to_playlist_form">
  <fieldset>
    <legend>Add to Playlist:</legend>
    <label for="playlistSelect">Select a playlist:</label>
    <select id="playlistSelect" name="playlistSelect">
      <option value="create">Create New</option>
      {{#playlists}}
      <option value="{{id}}">{{title}}</option>
      {{/playlists}}
    </select>
    <label for="createNewTitle">Title for new playlist:</label>
    <input type="text" id="createNewTitle" name="createNewTitle" />
    <input type="hidden" name="trackId" value="{{trackId}}" />
    <input id="add_to_playlist_submit" type="submit" value="Add" />
  </fieldset>
</form>