{{#artist}}
  <div class="edit">
    <h3>{{name}}</h3>
    {{#editable}}
    <span>[<a href="javascript;">Edit</a>]</span>
    <form>
      <fieldset>
        <legend>Update Artist</legend>
        <label for="artistName">Name:</label><input type="text" id="artistName" name="name" value="{{name}}" />
        <label for="artistDescription">Description:</label><textarea id="artistDescription" name="description">{{description}}</textarea>
        <label for="homeCity">City</label><input type="text" id="homeCity" name="homeCity" value="{{homeCity}}" />
        <label for="homeStateProvince">State/Province</label><input type="text" id="homeStateProvince" name="homeStateProvince" value="{{homeStateProvince}}" />
        <label for="homeCountry">Country</label><input type="text" id="homeCountry" name="homeCountry" value="{{homeCountry}}" />
        <label for="websiteUrl" >website</label><input type="text" id="websiteUrl" name="websiteUrl" value="{{websiteUrl}}" />
        <input type="hidden" name="ArtistId" value="{{id}}" />
        <button class="updateArtist">Update</button>
      </fieldset>
    <form>
  {{/editable}}
  </div>
   <h4>Albums</h4>
  {{#albums}}
   <div class="album">
     <a href="#!/upload/{{id}}">{{title}}</a>
   </div>
  {{/albums}}
  <div class="album new">
     <a href="#!/upload/new">Create a new album</a>
  </div>
{{/artist}}
