<button class="approve">Approve</button>
<button class="deny">Deny</button>
<table>
  <thead>
    <tr><th></th><th>Artist</th><th>Album</th><th>Track</th></tr>
  </thead>
  <tbody>
    {{#tracks}}
      <tr data-action="play" data-action-play-type="track" data-action-play-id="{{id}}">
        <td><input type="checkbox" value="{{id}}" /></td>
        <td>{{#Artist}}{{name}}{{/Artist}}{{^Artist}}{{name}}{{/Artist}}</td>
        <td>{{#Album}}{{title}}{{/Album}}</td>
        <td>{{title}}</td>
      </tr>
    {{/tracks}}
  </tbody>
</table>
