<div class="artist">
  <div class="imgholder">{{#icon}}<img src="/images/artists/{{icon}}" alt="{{name}} logo" />{{/icon}}</div>
  <div class="edit">
    <h2>{{name}}</h2>
    {{#editable}}
    <span>[<a href="javascript;">Edit</a>]</span>
    <form>
      <fieldset>
        <legend>Update Artist</legend>
        <label for="artistName">Name:</label><input type="text" id="artistName" name="name" value="{{name}}" />
        <label for="artistDescription">Description:</label><textarea id="artistDescription" name="description">{{description}}</textarea>
        <label for="homeCity">City</label><input type="text" id="homeCity" name="homeCity" value="{{homeCity}}" />
        <label for="homeStateProvince">State/Province</label><input type="text" id="homeStateProvince" name="homeStateProvince" value="{{homeStateProvince}}" />
        <label for="homeCountry">Country</label><input type="text" id="homeCountry" name="homeCountry" value="{{homeCountry}}" />
        <label for="websiteUrl" >website</label><input type="text" id="websiteUrl" name="websiteUrl" value="{{websiteUrl}}" />
        <input type="hidden" name="ArtistId" value="{{id}}" />
        <button class="updateArtist">Update</button>
      </fieldset>
    <form>
    {{/editable}}
  </div>
  {{#description}}<p>{{description}}</p>{{/description}}
    
  {{#Albums}}
  <div class="edit">
    <h3>{{title}}</h3>
    {{#editable}}
    
    <span>[<a href="#!/upload/{{id}}">Edit</a>]</span>
    {{/editable}}  
  </div>
  
  <ul>
    {{#Tracks}}
    <li><a href="#" class="playNow" dat-action="play" data-action-play-id="{{id}}" data-action-play-type="track">{{title}}</a></li>
    {{/Tracks}}
  </ul>
  {{/Albums}}
</div>