<ul class="listview">
  {{#channels}}
    
    <li class="listitem" data-href="{{url}}" data-action="play" data-action-play-type="channel" data-action-play-id="{{id}}">
      <div class="imgholder">
        {{#image}}
          <img src="{{image}}" alt="{{name}}" />
        {{/image}}
      </div>
      <div class="contentholder">
        <h4>
          <a class="playNow" href="#" data-id="{{id}}" data-type="channels">{{name}}</a>
        </h4>
      </div>
    </li>
    
  {{/channels}}
</ul>