<h2>DMCA Policy</h2>
<p>radio reddit&rsquo;s DMCA Copyright Policy</p>

<p>All of the music on radio radio is provided directly by the artists themselves. Artists must agree and affirm that they own the rights to the music they are uploading before they are able to upload.</p>

<p>We make every effort to insure that all the music uploaded is 100% original and created by the user, but there is nothing we can do to prevent impersonation.</p>

<h3>Filing an Infringement Notification</h3>

<p>If you feel your copyright has been violated, you may file a DMCA infringement notification with us to have the offending content removed. Please note that you will be liable for damages (including costs and attorneys&rsquo; fees) if you materially misrepresent that content or an activity is infringing your copyrights. Accordingly, if you are not sure whether material available online infringes your copyright, we suggest that you first contact an attorney.<p>

<p>We only respond to valid DMCA infringement notifications which contain the following:</p>
<ul>
<li>Proper identification of the offending content including song title(s) and artist(s), and if known the permanent song information link on radioreddit.com (e.g. http://radioreddit.com/songs/?song=ID).</li>
<li>Sufficient contact information including:
<ul>
<li>First and last name</li>
<li>Company</li>
<li>Mailing address</li>
<li>Email address (if available)</li>
</ul></li>
<li>The statement &ldqou;I swear under penalty of perjury that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed, and that the information in this notification is accurate. I have a good faith belief that use of the copyrighted materials described above as allegedly infringing is not authorized by the copyright owner, its agent, or the law.&rdqou;</li>
<li>A valid signature from a person authorized to act on behalf of the copyright holder.</li>
<li>Send your DMCA claim to our registered agent via email to dmca@radioreddit.com or by our Blue Goat LLC&rsquo;s other contact means which can be found in the US Copy Right Office&rsquo;s online service provider directory.</li>
</ul>
<p>Upon receipt of proper DMCA infringement notice we will disable access to or remove the content from our site and streams. The original provider of the content will be forwarded a copy of your infringement notice and will be notified that the offending content has been disabled or removed.</p>

<h3>Filing an Infringement Counter-Notification</h3>

<p>Providers of affected content may make a counter-notification pursuant to sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. When we receive a counter notification, we may reinstate the material in question.</p>

<p>To file a counter notification with us, you must provide a written communication (by fax or regular mail) that sets forth the items specified below. Please note that you will be liable for damages (including costs and attorneys&rsquo; fees) if you materially misrepresent that a product or activity is not infringing the copyrights of others. Accordingly, if you are not sure whether certain material infringes the copyrights of others, we suggest that you first contact an attorney.</p>

<p>Your counter-claim must include the following:</p>
<ul>
<li>Identify the specific song(s) (include artist name(s)) or other unique identifying information for the content radio reddit has disabled or removed.</li>
<li>Provide your name, address, telephone number, email address, and a statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or Santa Clara County, California if your address is outside of the United States), and that you will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.</li>
<li>Include the following statement: "I swear, under penalty of perjury, that I have a good faith belief that each item of content identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</li>
<li>Sign the paper.</li>
<li>Send the written communication to Blue Goat LLC&rsquo;s registered agent found on the U.S Copyright Office&rsquo;s online service provider registry.</li>
</ul>