{{#401}}
  <div class="error">
    <h1>Log In Required</h1>
    <p>Please log in with your Reddit account to continue.</p>
  </div>
{{/401}}
{{#403}}
  <div class="error">
    You do not have access to this functionality
  </div>
{{/403}}
{{^403}}
{{^401}}
  <div class="error">
    We are sorry, something went wrong. Please wait a few minutes and try again. 
  </div>
{{/401}}
{{/403}}