<div class="gridview">
  {{#tracks}}
  <div class="griditem">
      <div class="imgholder">{{#icon}}<img src="/images/artists/{{icon}}" alt="{{name}} logo" />{{/icon}}
      
        {{#image}}
          <img src="{{image}}" alt="{{name}}" />
        {{/image}}
      </div>
      <h4>{{#Artist}}{{name}}{{/Artist}}{{^Artist}}{{name}}{{/Artist}}</h4>
      <p>{{#title}}Song: {{title}}{{/title}}&nbsp;{{#Album}}Album: {{title}}{{/Album}}</p>
      <div class="actions">
        <a class="action playNow" href="#" data-id="{{id}}" data-type="{{#Artist}}tracks{{/Artist}}{{^Artist}}channels{{/Artist}}"><div class="icon"></div><span>Play Now</span></a>
        {{^removable}}
        <a class="action playlist {{^user}}hidden{{/user}} {{^Artist}}hidden{{/Artist}}" href="#!/add_to_playlist/{{id}}" data-id="{{id}}" data-type="tracks"><div class="icon"></div><span>Add to Playlist</span></a>
        {{/removable}}
        {{#removable}}
        <a class="action removeFromPlaylist {{^user}}hidden{{/user}} {{^Artist}}hidden{{/Artist}}" href="#" data-id="{{id}}" data-playlistId="{{playlistId}}"  data-type="tracks"><div class="icon"></div><span>Remove From Playlist</span></a>
        {{/removable}}
        <a class="action download {{^Artist}}hidden{{/Artist}}" href="#" data-id="{{id}}" data-type="tracks"><div class="icon"></div><span>Download</span></a>
      </div>
  </div>
  {{/tracks}}
</div>