{{#title}}
<h1>{{title}}</h1>
{{/title}}
{{^title}}
{{#q}}<h1>Search Results for &quot;{{q}}&quot;</h1>{{/q}}
{{/title}}
{{#description}}
<p>{{{description}}}</p>
{{/description}}
{{^tracks}}
  <p>No results were found!  Try a different spelling?  Look for something else entirely?  I have no idea!</p>
{{/tracks}}

{{#tracks.length}}
  <table>
    <thead>
      <tr><th>Artist</th><th>Album</th><th>Track</th><th title="Download">D/L</th></tr>
    </thead>
    <tbody>
      {{#tracks}}
        <tr data-action="play" data-action-play-type="track" data-action-play-id="{{id}}">
          <td>{{#Artist}}{{name}}{{/Artist}}{{^Artist}}{{name}}{{/Artist}}</td>
          <td>{{#Album}}{{title}}{{/Album}}</td>
          <td>{{title}}</td>
          <td class="centered">
            {{#allowDownload}}
              <a href="{{media.mp3High}}">MP3</a>
            {{/allowDownload}}
          </td>
        </tr>
      {{/tracks}}
    </tbody>
  </table>
  {{#showPrevNext}}
  <div class="group">
    <button class="prev" title="Previous" value="previous">&laquo; Previous</button>
    <button class="next" title="Next" value="next">Next &raquo;</button>
  </div>
  {{/showPrevNext}}
{{/tracks.length}}