<ul class="listview">
  {{#tracks}}
    
    <li class="listitem" data-href="{{url}}">
      <div class="imgholder">
        {{#user}}
          {{#Artist}}
            <div class="voting">
              <a href="#" class="up">
                <span class="floatOff">Vote Up {{title}}</span>
              </a>
              <a href="#" class="down">
                <span class="floatOff">Vote Down {{title}}</span>
              </a>
            </div>
          {{/Artist}}
        {{/user}}
        {{#icon}}
          <img src="/images/artists/{{icon}}" alt="{{name}} logo" />
        {{/icon}}
        {{^icon}}<!--<img src="/images/radio-reddit-logo.png" alt="{{name}} logo" />-->{{/icon}}
        {{#image}}
          <img src="{{image}}" alt="{{name}}" />
        {{/image}}
      </div>
      <div class="contentholder">
        <h4>{{#Artist}}<a href="#!/artist/{{id}}">{{name}}</a>{{/Artist}}{{^Artist}}<a class="playNow" href="#" data-id="{{id}}" data-type="channels">{{name}}</a>{{/Artist}}</h4>
        <p>{{#title}}Song: <a class="playNow" href="#" data-id="{{id}}" data-type="tracks">{{title}}</a>{{/title}}{{#Album}}</p><p>Album: {{title}}{{/Album}}</p>
        {{#description}}<p>{{description}}</p>{{/description}}
        <div class="actions">
          {{^removable}}
          <a class="action playlist {{^user}}hidden{{/user}} {{^Artist}}hidden{{/Artist}}" href="#!/addToPlaylist/{{id}}" data-id="{{id}}" data-type="tracks"><div class="icon"></div><span>Add to Playlist</span></a>
          {{/removable}}
          {{#removable}}
          <a class="action removeFromPlaylist {{^user}}hidden{{/user}} {{^Artist}}hidden{{/Artist}}" href="#" data-id="{{id}}" data-playlistid="{{playlistId}}" data-type="tracks"><div class="icon"></div><span>Remove From Playlist</span></a>
          {{/removable}}
          <a class="action download {{^Artist}}hidden{{/Artist}}" href="#" data-id="{{id}}" data-type="tracks"><div class="icon"></div><span>Download</span></a>
        </div>
        
      </div>
    </li>
    
  {{/tracks}}
</ul>