<fieldset> 
  <legend>Create a new album:</legend>
  <form action="http://{{#s3}}{{bucket}}{{/s3}}.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value="art/album/id/${filename}" />
    {{#s3}}
    <input type="hidden" name="success_action_redirect" value="{{redirect}}" />
    {{/s3}}
    <input type="hidden" name="Content-Type" value="image/jpeg" />
    <!-- Include any additional input fields here -->
    
    <label for="albumArtFile">Album Art:</label>
    <div class="dragndrop">
      <input name="file" id="albumArtFile" type="file" /> 
    </div>
    <label for="albumTitle">Title:</label><input type="text" id="albumTitle" name="title" />
    <label for="albumDescription">Description:</label><textarea id="albumDescription" name="description"></textarea>
    <input type="hidden" name="ArtistId" value="{{#Artist}}{{id}}{{/Artist}}" />
    <button class="createAlbum">Create</button>
  </form>
</fieldset>