<div>
  {{#.}}
  <div class="playlist_item">
    <!-- use $('a[href*=#\\!]') as a selector to then make these links work with the push history api-->
    <a href='#!/playlists/{{id}}'>{{title}}</a>
    <div class="{{id}}_tracks"></div>
  </div>
  {{/.}}
  {{^.}}
  <p>No playlists found.</p>
  {{/.}}
</div>