<h1>Upload</h1>
<select name="selectArtist" class="selectArtist">
  <option value='' disabled="disabled" selected="selected">Select an artist</option>
  {{#artists}}
    <option value={{id}}>{{name}}</option>
  {{/artists}}
  <option value=''>Create a new artist</option>
</select>
<div class="createArtistSection">
  <form>
    <fieldset>
      <legend>Create Artist</legend>
      <label for="artistName">Name:</label><input type="text" id="artistName" name="name" />
      <label for="artistDescription">Description:</label><textarea id="artistDescription" name="description"></textarea>
      <label for="homeCity">City</label><input type="text" id="homeCity" name="homeCity" />
      <label for="homeStateProvince">State/Province</label><input type="text" id="homeStateProvince" name="homeStateProvince" />
      <label for="homeCountry">Country</label><input type="text" id="homeCountry" name="homeCountry" />
      <label for="websiteUrl" >website</label><input type="text" id="websiteUrl" name="websiteUrl" />
      <button class="createArtist">Create</button>
    </fieldset>
  <form>
</div>
<div class="artistResults">

</div>
