<h2>Terms of Use</h2>
<p>Last Revised July 7th, 2011</p>
<p>The following User Agreement ("Agreement") governs the use of www.radioreddit.com ("Website"), including without limitation participation in its chats, uploads, live music streams, and all other areas as provided by Radio Reddit, LLC ("Service Provider," "we," or "our").</p>
<p>Please read the rules contained in this Agreement carefully. You can access this Agreement any time at <a href="http://radioreddit.com/terms_of_use">http://radioreddit.com/terms_of_use</a>. Your use of and/or registration on any aspect of the Website will constitute your agreement to comply with these rules. If you cannot agree with these rules, you are prohibitted from using Website.</p>
<p>In addition to reviewing this Agreement, please read our Privacy Policy and our Copyright Policy. Your use of the Website constitutes agreement to its terms and conditions as well.</p>
<p>The Agreement may be modified from time to time; the date of the most recent revisions will appear on this page, so check back often. Continued access of the Website by you will constitute your acceptance of any changes or revisions to the Agreement.</p>
<p>Your failure to follow these rules, whether listed below or in bulletins posted at various points in the Website, may result in suspension or termination of your access to the Website, without notice, in addition to Service Provider's other remedies.</p>
<h3>Terms</h3>
<p>By accessing this Website, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this Website. The materials contained in this Website are protected by applicable copyright and trade mark law.</p>
<h3>Licensing and Rights for Music</h3>
<p>In order for Service Provider to operate the Website, individual recording artists or collections of recording artists (a &ldquo;Band&rdquo;), in regards to their sound recordings (&ldquo;Sound Recordings&rdquo;) and the contained musical works (&ldquo;Musical Works&rdquo;) (collectively a Band&rsquo;s &ldquo;Music&rdquo;), grant Service Provider the worldwide, non-exclusive, royalty-free, right and license to: (i) transcode, reproduce, playback, stream, communicate to the public, or otherwise exploit (collectively, &ldquo;Exploit&rdquo;) (1) a Band&rsquo;s Music, and (2) Exploit any text, meta data, and artwork associated with a Band&rsquo;s Music (&ldquo;Artworks&rdquo;); (ii) allow users of the Website to receive public performances and public displays of a Band&rsquo;s Music and Artworks on the Website and on any third party websites through embedding. radio reddit will not attempt to sell, physically distribute, license music to third parties without written consent from Artists or Bands.</p>
<p>By uploading any Music to the Website:</p>
<p>(i) you represent and warrant that you own or otherwise control any and all rights associated to the (1) Music, (2) Musical Works contained in your Sound Recordings (or that such Musical Works are in the public domain or have otherwise been directly licensed to the Band in writing with a grant of rights sufficient to permit the Band to enter into this Agreement and to grant all of the rights with respect to the Band&rsquo;s Music as set forth in this Agreement (hereinafter &ldquo;Direct Licensed&rdquo;)), and (3) Artworks (or that such Artworks are Public Domain or are Direct Licensed).</p>
<p>(ii) you represent and warrant that no fees or royalties of any kind shall be due to any third party, including, but not limited to, any performing rights organization (e.g. ASCAP, BMI or SESAC), music publisher, or producer, for the use or re-use of your Sound Recordings as authorized under this Agreement.</p>
<p>If any agreement you have entered into with a third party prevents you from granting the rights and license set forth in this Agreement, or prevents you from representing and warranting the statements in the two paragraphs immediately prior, you are prohibited from uploading Music to the Website and shall be responsible for indemnifying and holding Service Provider harmless from and against any and all claims arising from the Exploitation of your music on Website, including all court costs and legal fees.</p>
<h3>Licensing and Rights for Podcasts and Talk Shows</h3>
<p>In order for Service Provider to operate the Website, individual podcasts or live talk shows (a &ldquo;Talk Show&rdquo;), in regards to their sound recordings (&ldquo;Sound Recordings&rdquo;) and the contained musical works (&ldquo;Musical Works&rdquo;) (collectively a Talk Show&rsquo;s &ldquo;Content&rdquo;), grant Service Provider the worldwide, non-exclusive, royalty-free, right and license to: (i) transcode, reproduce, playback, stream, communicate to the public, or otherwise exploit (collectively, &ldquo;Exploit&rdquo;) (1) a Talk Show&rsquo;s Content, and (2) Exploit any text, meta data, and artwork associated with a Talk Show&rsquo;s Content (&ldquo;Artworks&rdquo;); (ii) allow users of the Website to receive public performances and public displays of a Talk Show&rsquo;s Content and Artworks on the Website and on any third party websites through embedding.</p>
<h3>By uploading any Content to the Website:</h3>
<p>(i) you represent and warrant that you own or otherwise control any and all rights associated to the (1) Music, (2) Musical Works contained in your Sound Recordings (or that such Musical Works are in the public domain or have otherwise been directly licensed to the Talk Show in writing with a grant of rights sufficient to permit the Talk Show to enter into this Agreement and to grant all of the rights with respect to the Talk Show&rsquo;s Content as set forth in this Agreement (hereinafter &ldquo;Direct Licensed&rdquo;)), and (3) Artworks (or that such Artworks are Public Domain or are Direct Licensed).</p>
<p>(ii) you represent and warrant that no fees or royalties of any kind shall be due to any third party, including, but not limited to, any performing rights organization (e.g. ASCAP, BMI or SESAC), music publisher, or producer, for the use or re-use of your Sound Recordings as authorized under this Agreement.</p>
<p>If any agreement you have entered into with a third party prevents you from granting the rights and license set forth in this Agreement, or prevents you from representing and warranting the statements in the two paragraphs immediately prior, you are prohibited from uploading Content to the Website and shall be responsible for indemnifying and holding Service Provider harmless from and against any and all claims arising from the Exploitation of your Content on Website, including all court costs and legal fees.</p>
<h3>Disclaimer</h3>
<p>The materials on the Website are provided "as is". Service Provider makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Service Provider does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
<h3>Limitations</h3>
<p>In no event shall Service Provider or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Website, even if Service Provider or a Service Provider authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<h3>Revisions and Errata</h3>
<p>The materials appearing on the Website could include technical, typographical, or photographic errors. Service Provider does not warrant that any of the materials on its web site are accurate, complete, or current. Service Provider may make changes to the materials contained on its Website at any time without notice. Service Provider does not, however, make any commitment to update the materials.</p>
<h3>Links</h3>
<p>Service Provider has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Service Provider of the site. Use of any such linked web site is at the user's own risk.</p>
<h3>Site Terms of Use Modifications</h3>
<p>Service Provider may revise these terms of use for its Website at any time without notice. By using this Website you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
<h3>Governing Law</h3>
<p>Any claim relating to the Website shall be governed by the laws of the State of Florida without regard to its conflict of law provisions.</p>
<p>General Terms and Conditions applicable to Use of the Website.