<h1>Upload Your Music</h1>

{{^artists}}
  <section class="noArtists">
    <p>Want to share your music with the world?  <a href="#" data-action="addArtist">Enter your band/artist name</a> to get started!</p>
    <p>If your music is already on Radio Reddit but not associated with your Reddit account, please contact <a href="mailto:webmaster@radioreddit.com">webmaster@radioreddit.com</a> for assistance.</p>
  </section>
{{/artists}}

{{#artists}}
  <section class="artistManage" data-artist-id="{{id}}">
    <h2 class="editable" data-action="edit" data-action-edit-path="artists" data-action-edit-id="{{id}}" data-action-edit-property="name" data-action-edit-prompt="Please enter a new name">{{name}}</h2>
    <p>{{description}}</p>
    
    {{#Albums}}
      <table class="tracks" data-album-id="{{id}}">
        <thead>
          <tr>
            <th colspan="3"><h3 class="editable" data-action="edit" data-action-edit-path="albums" data-action-edit-id="{{id}}" data-action-edit-property="title" data-action-edit-prompt="Please enter a new title">{{title}}</h3></th>
            <th class="actions">
              <button class="icon-upload" data-action="upload" data-action-upload-album-id="{{id}}">Upload Tracks</button>
              <button class="icon-delete" data-action="deleteAlbum" data-action-delete-album-id="{{id}}" data-action-delete-album-title="{{title}}">Delete Album</button>
            </th>
          </tr>
        </thead>
        {{#Tracks}}
          <tr data-track-id="{{id}}">
            <td><input name="title" type="text" value="{{title}}" /></td>
            <td>
              <label>
                <input name="allowDownload" type="checkbox" value="true" {{#allowDownload}}checked="checked"{{/allowDownload}} />
                Download
              </label>
            </td>
            <td>
              <label>
                <input name="allowRelease" type="checkbox" value="true" {{#allowRelease}}checked="checked"{{/allowRelease}} />
                Release
              </label>
            </td>
            <td class="actions">
              <button class="icon-music" data-action="play" data-action-play-type="track" data-action-play-id="{{id}}">Play</button>
              <a target="_blank" class="button icon-download" href="{{#media}}{{original}}{{/media}}">Download</a>
              <button class="icon-delete" data-action="delete" data-action-delete-id="{{id}}" data-action-delete-title="{{title}}">Delete</button>
            </td>
          </tr>
        {{/Tracks}}
      </table>
    {{/Albums}}
    <button data-action="addAlbum" data-action-add-album-artist-id="{{id}}">Add Album</button>
  </section>
{{/artists}}

<button data-action="addArtist">Add Artist</button>
