<div class="background">
  <img class="gravatar header" src="http://www.gravatar.com/avatar/{{gravatarHash}}?s=100&amp;d=retro" />
  <h2>{{username}}</h2>
  <a class="logout" href="#!/logout">Log Out</a>
  <form class="userProfileForm">
    <fieldset>
      <legend>Personal Info</legend>
      <label for="firstName">First Name:</label><input type="text" id="firstName" name="firstName" value="{{firstName}}" />
      <label for="lastName">Last Name:</label><input type="text" id="lastName" name="lastName" value="{{lastName}}" />
      <label for="email">Email:</label><input type="text" id="email" name="email" value="{{email}}" />
      <input type="submit" value="Save" />
    </fieldset>
    
  </form>
  <ul>
    <!--<li><a href="#!/playlists">My Playlists</a></li>-->
    <li><a href="#!/upload">Upload and Manage Artists</a></li>
  </ul>
</div>