{{#user.username}}
  <img class="gravatar" src="http://www.gravatar.com/avatar/{{gravatarHash}}?s=100&amp;d=retro" /><a href="#!/profile" class="userLabel">{{user.username}}</a>
{{/user.username}}

{{^user.username}}
  <img class="gravatar" src="images/redditAlien.svg" /><a href="{{loginUrl}}" class="userLabel">Login</a>
{{/user.username}}