.group:after {
  content: "";
  display: table;
  clear: both;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  color: #2f2f2f;
  background-color: #afafaf;
}

button,
.button {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.2em;
  border-style: hidden;
  border-radius: .3em;
  background-color: #2f2f2f;
  color: #fff;
  margin-top: 1em;
  text-decoration: none;
}

ul {
  padding-left:1.1em;
}

.hidden {
  display:none;
}
.logout {
  display:block;
  float: right;
  margin-top: -2.5em;
}

input[type="text"],
input[type="number"],
input[type="url"] {
  border-radius: 0.5em;
  border: 0.1em solid #585858;
  box-shadow: inset 0 0.1em 0.2em rgba(0,0,0, 0.4), 0 0 0 #fff, 0 0 0 #fff;
  padding: 0.5em;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.2em;
  box-sizing: border-box;
}

table input[type="text"],
table input[type="number"],
table input[type="url"] {
  border-radius: inherit;
  box-shadow: inherit;
}


h1 {
  font-size: 2em;
}

h1:first-child {
  margin-top: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 1em;
}

table th {
  font-size: 1.1em;
  padding: 0.5em;
  background: #e0e0e0;
  color: #444;
}

table td {
  padding: 0.5em;
}

table tr {
  background: #fafafa;
}

table tr:nth-child(even) {
  background: #e0e0e0;
}

table td.centered {
  text-align: center;
}

td meter {
  width: 100%;
}

[data-href],
[data-action] {
  cursor: pointer;
}

div[class*='col-'] {
  padding:0;
  margin:0;
}

header,
footer {
  position: fixed;
  padding: 0.8em;
  z-index: 5;
  background: #585858;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.55);
  min-width: 22em;
  color: #fff;
}

header a,
footer a {
  color: #fff;
}

footer a:active, footer a:hover{
  color: #fff;
}

header {
  margin-bottom: 2em;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  height: 6em;
  width: 70%;
  max-width: 30em;
}

header input[name="q"] {
  font-size: 1em;
  float: right;
  width: 15em;
}

header form {
  display: inline;
  margin: 0;
  padding: 0;
}

footer {
  display: table;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  z-index: 98;
  min-height: 7.5em;
}

footer .containerRow {
  display: table-row;
}

footer .containerRow > div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.4em;
}

footer .containerRow > div:first-of-type[style*="display: none"] + div:not([style*="display: none"]) {
  padding-left: 0.8em;
}

footer .userInfo {
  padding: 0 0.8em !important;
  font-size: 1.5em;
  height: 100%;
  background: #2f2f2f;
  color: #000;
  white-space: nowrap;
}

footer .userInfo a {
  text-decoration: none;
}

footer .userInfo .userLabel {
  vertical-align: middle;
}

footer .userInfo .gravatar {
  height: 2em;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

footer .player {
  width: 100%;
  min-width:10em;
  height: 5em;
}
footer .vote {
  text-align: center;
  white-space: nowrap;
  padding: 0 0.4em 0 0.8em !important;
}
footer .vote > * {
  display: block;
}
footer button {
  background: none;
  background-size: cover;
  border: none;
  border-radius: 0;
}
footer .vote button {
  height: 2em;
  width: 2.4em;
  margin: 0.3em auto;
}
footer .vote [data-action="voteUp"] {
  background-image: url(../images/upvote.svg);
}
footer .vote [data-action="voteUp"]:active,
footer .vote [data-action="voteUp"]:hover,
footer .vote [data-action="voteUp"].active {
  background-image: url(../images/upvoteActive.svg);
}
footer .vote [data-action="voteDown"] {
  background-image: url(../images/downvote.svg);
}
footer .vote [data-action="voteDown"]:active,
footer .vote [data-action="voteDown"]:hover,
footer .vote [data-action="voteDown"].active {
  background-image: url(../images/downvoteActive.svg);
}
footer .art img {
  float: left;
  height: 6em;
}

footer .meta {
  width: 100%;
}

footer .artist {
  margin: 0;
}

footer .title {
  
}

footer .controls {
  white-space: nowrap;
}

footer .controls button {
  height: 2em;
  margin: 0 1em;
  display: none;
}

footer .controls [data-action="back"] {
  background-image: url(../images/back.svg);
  width: 2.5em;
}

footer .controls [data-action="forward"] {
  background-image: url(../images/forward.svg);
  width: 2.5em;
}

footer .controls [data-action="resume"] {
  background-image: url(../images/play.svg);
  width: 1.6em;
}

footer .controls [data-action="pause"] {
  background-image: url(../images/pause.svg);
  width: 1.8em;
}

*[class^='icon-']:before,
*[class*=' icon-']:before {
  margin: 0 0.5em 0 0;
}

.icon-music:before {
  content: "♪";
}

.icon-download:before {
  content: "▼";
}

.icon-delete:before {
  content: "✘";
}

.icon-upload:before {
  content: "⇧";
}

#main {
  padding: 2em 1em;
  margin: 7em auto 8em 13em;
}
.album.new{
  margin-top:1em;
}
.edit {
  width: 100%;
  clear: both;
  overflow: auto;
}
.edit fieldset {
  clear:both;
}
.edit h1,.edit h2,.edit h3 {
  width: auto;
  clear: none;
  float:left;
}
.edit span {
  font-size:.8em;
  float: left;
  margin-top: 1.7em;
  margin-left: 1em;
}
.dragndrop {
  width:25%;
  overflow: auto;
}
.dragndrop.hover {
  border:1px solid #f0f;
}
.dragndrop input[type='file'] {
  width:100%;
}
.coverImage {
  max-height:4em;
  float:left;
}
.page {
  min-height:100%;
}
.row {
  margin:0;
  background: transparent;
}
.row.fixed {
  width:100%;
  
}
.voting {
  margin: 1em 0 0 1em;
}
.voting a {
  float: left;
  clear:both;
  background-image: url('../images/arrow_sprites.png');
  background-repeat: no-repeat;
  width:32px;
  height:32px;
  padding-left:5px;
  display:block;
  overflow:hidden;
}

a.voted {
  background-position:-32px 0;
}
.floatOff {
  position:absolute;
  float:left;
  top:-999em;
  left:-999em;
}
.up {
  background-position:-64px 0;
}
.up.voted {
  background-position:-96px 0;
}
.under {
  min-height:100%;
}

.breadSandwich {
  display: none;
  float: left;
  margin: 0.5em;
  width: 3em;
  height: 3em;
  background-color: #2f2f2f;
  border-style: hidden;
}

nav {
  padding-top: 2em;
  background-color:#2f2f2f;
  min-height:100%;
  position:fixed;
  z-index: 3;
  max-width:18em;
  min-width:13em;
}
nav ul {
  font-size: 1.5em;
  list-style-type:none;
  padding: 0;
  margin: 0 0 1em 0;
  z-index: 99;
}
nav li {
  position: relative;
  display: block;
  width:100%;
}
nav li a {
  color:#fff;
  display: block;
  padding: 0.3em 0.5em;
  text-decoration: none;
}
nav li a.active,
nav li a:hover,
nav li a:focus {
  color: #2f2f2f;
  background-color: #fafafa;
}

ul.listview {
  padding-left: 0;
  margin: 0 -1em 0 0;
}

div.listitem{
  padding:.5em;
}
div.listitem li{
  list-style-position: inside;
}

.listitem{
  display: block;
  list-style: none;
  overflow: auto;
  margin: 0 1em 1em 0;
  background-color: #fafafa;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  width: 13em;
}

.imgholder img{
  width: 13em;
}

.placeholder{
  color:#ffffff;
  background-color:#808080;
  display:block;
  width:100%;
  padding-top:14px;
  padding-bottom:14px;
  margin:3px;
  text-align:center;
  overflow:auto;
}
.placeholder.bigger{
  padding-top:60px;
  padding-bottom:60px;
  margin-right:6px;
}
button.viewtoggle.default{
  background-color:#cc4533;
}

button.viewtoggle {
  background-color:#ff4500;
  display:block;
  text-align:center;
  float:right;
  position: absolute;
  padding:4px;
  border:none;
  width: 3em;
  height: 1.9em;
  margin-left: .1em;
  top:-999em;
  left:-999em;
}
.bread {
  background-color:white;
  display:block;
  width:90%;
  margin:.2em auto .2em auto;
  height:.2em;
}
.box {
  background-color:white;
  display:block;
  float:left;
  width:35%;
  height:6px;
  margin:2px;
}
.actions {
  /*margin-top:-5em;
  float:right;*/
  min-width:16em;
}
.action {
  float:right;
}
.action a{
  color:#747373;
  text-decoration:none;
}
.action span{
  padding-top: 8px;
  display: block;
  float:left;
}
.action .icon{
  display:block;
  width:32px;
  height:32px;
  background-image:url("../images/sprites.png");
  float:left;
  background-repeat:no-repeat;
}
.playnow .icon{
  background-position:-64px 0px;
}

.playlist .icon{
  background-position:0px 0px;
}

.download .icon{
  background-position:-32px 0px;
}

.searchSection {
  float:right;
  overflow: visible;
  position: fixed;
  top: 3.4em;
  right:1em;
  width:20em;
  z-index: 99;
}

.searchButton {
  margin: 0.5em 0;
  width: 3em;
  height: 3em;
  background-image: url('../images/search_button.png');
  background-color: #afafaf;
  border-radius: .3em;
  background-repeat: no-repeat;
  background-position: .5em .4em;
  display: none;
  float: right;
  border-style: hidden;
  
}

button.prev,
button.next {
  min-width: 6em;
}
button.prev {
  float: left;
}
button.next {
  float: right;
}

.gravatar.header {
  float: left;
  height: 2em;
  margin: 1em 1em;
}

fieldset label {
  display: block;
  width: 7em;
  text-align: right;
  float: left;
  clear: both;
  margin: .5em .5em;
}

fieldset input[type="text"],fieldset input[type="file"], fieldset textarea {
  width: 25%;
  min-width: 10em;
  float: left;
  margin: .25em 0;
}

fieldset input[type="submit"], fieldset button {
  clear:both;
  float:left;
  margin: 2em 0 0 25%;
  height: 3em;
  width: 5em;
}

fieldset img {
  clear:both;
  float:left;
  margin-left:8.2em;
}
fieldset textarea {
  height: 5em;
  padding: .5em;
}
.background {
  padding: 1em;
}

.artistManage th {
  text-align: left;
}

.artistManage table.tracks td {
  white-space: nowrap;
}

.artistManage table.tracks td.actions,
.artistManage table.tracks th.actions {
  text-align: right;
}

.editable:hover {
  outline: 1px solid;
}

@media (max-width: 50em){
  ul {
    padding-left:.1em;
  }
  
  .breadSandwich {
    display: block;
    left:1em;
  }
  
  #main {
    margin-top: 4.5em;
    margin-left: auto;
  }
  
  #sidebar {
    left:-999em;
  }
  
  #sidebar.show {
    left:0;
  }
 
  .searchButton {
    display: block;
  }
  
  .searchSection {
    top: 1.25em;
    right: 3em;
  }
  
  .searchSection input {
    display: none;
  }
  
  .searchSection.show input {
    display: block;
    margin-right:.8em;
    box-shadow: .2em .2em .5em rgba(0, 0, 0, 0.4);
  }
  
  header {
    text-align: center;
  }
  
  header .logo {
    height: 3em;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-height: 32em){
  nav {
    position: absolute;
    padding-bottom: 5em;
  }
}